@using SV20T1080031.Web;
@model SV20T1080031.DomainModels.Supplier
@{
    
}

<div class="box box-primary">
    <div class =" box-body">
        @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
        {
            <div class="alert alert-warning">
                <p>@ViewBag.ErrorMessage</p>
            </div>
        }
        <form method="post" action="~/Admin/Supplier/Save">
            @Html.HiddenFor(m => m.SupplierID)
            @* <input type="hidden" class="form-control" id="" name="CustomerID" value="@Model.CustomerID"> *@
            <div class="form-group">
                <label for="">Tên nhà cung cấp:</label>
                @Html.ValidationMessageFor(m => m.SupplierName,"", new {@style="color:#f00"})
                @Html.TextBoxFor(m => m.SupplierName, new { @class="form-control", @autofocus = "autofocus"})
                @* <input type="text" class="form-control" id="" autofocus name="@nameof(Model.CustomerName)" value="@Model.CustomerName"> *@
            </div>

            <div class="form-group">
                <label for="">Tên giao dịch:</label>
                @Html.ValidationMessageFor(m => m.ContactName,"", new {@style="color:#f00"})
                @Html.TextBoxFor(m => m.ContactName, new { @class="form-control"})
                @* <input type="text" class="form-control" id="" name="ContactName" value="@Model.ContactName"> *@
            </div>

            <div class="form-group">
                <label for="">Địa chỉ:</label>
                @Html.ValidationMessageFor(m => m.Address,"", new {@style="color:#f00"})
                @Html.TextBoxFor(m => m.Address, new { @class="form-control"})
                @* <input type="text" class="form-control" id="" name="Address" value="@Model.Address"> *@
            </div>

            <div class="form-group">
                <label for="">Tỉnh/ Thành phố:</label>
                @Html.ValidationMessageFor(m => m.Province,"", new {@style="color:#f00"})
                @Html.DropDownListFor(m => m.Province, SelectListHelper.Provinces(), new { @class="form-control"})
            </div>

            <div class="form-group">
                <label for="">Số điện thoại:</label>
                @Html.ValidationMessageFor(m => m.Phone,"", new {@style="color:#f00"})
                @Html.TextBoxFor(m => m.Phone, new { @class="form-control"})
                @* <input type="text" class="form-control" id="" name="Phone" value="@Model.Phone"> *@
            </div>

            <div class="form-group">
                <label for="email">Email:</label>
                @Html.ValidationMessageFor(m => m.Email,"", new {@style="color:#f00"})
                @Html.TextBoxFor(m => m.Email, new { @class="form-control"})
                @* <input type="email" class="form-control" id="" name="Email" value="@Model.Email"> *@
            </div>

            <button type="submit" class="btn btn-primary">
                <i class="fa-solid fa-floppy-disk"></i>
                Lưu dữ liệu
            </button>

            <button type="submit" class="btn">
                <a href="~/Admin/Supplier">
                    <i class="fa-solid fa-arrow-left"></i>
                    Quay lại
                </a>
            </button>

        </form>
    </div>
</div>
