@model SV20T1080031.Web.Models.PaginationSearchCategory
@{
    Layout = null;
    int nextPage = Model.Page + 1;
    int previousPage = Model.Page - 1;
}
<p>
    Có <strong>@string.Format("{0:N0}", Model.RowCount)</strong> loại hàng. Hiện đang ở trang số @Model.Page/@Model.PageCount
</p>

@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="alert alert-warning">
        <p>@ViewBag.ErrorMessage</p>
    </div>
}
@if (!string.IsNullOrEmpty(ViewBag.DeletedMessage))
{
    <div class="alert alert-success">
        <p>@ViewBag.DeletedMessage</p>
    </div>
}
@if (!string.IsNullOrEmpty(ViewBag.SavedMessage))
{
    <div class="alert alert-success">
        <p>@ViewBag.SavedMessage</p>
    </div>
}

<!--Danh sách loại hàng-->
<div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap table-reponsive">
    <div class="row"><div class="col-sm-6"></div><div class="col-sm-6"></div></div><div class="row">
        <div class="col-sm-12">
            <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                <thead>
                    <tr role="row">
                        <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Tên loại hàng</th>
                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Chi tiết</th>
                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending"></th>
                    </tr>
                </thead>
                <tbody>

                    <!--Dữ liệu loại hàng truyền vào-->
                    @foreach (var item in Model.Data)
                    {
                        <tr>
                            <td>@item.CategoryName</td>
                            <td>@item.Description</td>
                            <td class="text-right">
                                <a class="btn btn-xs btn-info" href="~/Admin/Category/Edit/@item.CategoryID">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a class="btn btn-xs btn-danger" href="~/Admin/Category/Delete/@item.CategoryID">
                                    <i class="fa fa-remove"></i>
                                </a>
                            </td>
                        </tr>
                    }
                    @* <tr role="row" class="even">
                    <td class="sorting_1">ATeo</td>
                    <td>ATEODINANG</td>
                    <td>Quảng Bình</td>
                    <td>12/16 Nguyễn Sinh Cung, TP.Huế, TT.Huế</td>
                    <td>0828817234</td>
                    <td>nahoshi002@gmail.com</td>
                    </tr> *@
                </tbody>
                @* <tfoot>
                <tr>
                <th rowspan="1" colspan="1">Supplier Name</th>
                <th rowspan="1" colspan="1">Contact Name</th>
                <th rowspan="1" colspan="1">Province</th>
                <th rowspan="1" colspan="1">Address</th>
                <th rowspan="1" colspan="1">Phone</th>
                <th rowspan="1" colspan="1">Email</th>
                </tr>
                </tfoot> *@
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">Hiển thị tổng số <strong>@Model.RowCount</strong> loại hàng</div>
        </div>

        @if (Model.PageCount > 1)
        {
            <!--Phân trang-->
            <div class="col-sm-7">
                <div class="dataTables_paginate center paging_simple_numbers" id="example2_paginate">
                    <ul class="pagination">
                        @if (Model.Page > 1)
                        {
                            <li class="paginate_button previous" id="example2_previous">
                                <a href="javascript:;" onclick="doSearch(@previousPage)" aria-controls="example2" data-dt-idx="0" tabindex="0">Trang trước</a>
                            </li>
                        }
                        @for (int i = 1; i <= Model.PageCount; i++)
                        {
                            if (i == Model.Page)
                            {
                                <li class="paginate_button active">
                                    <a href="#" aria-controls="example2" data-dt-idx="@i" tabindex="0">@i</a>
                                </li>
                            }
                            else if (i <= 4 || i > Model.PageCount - 4 || (i >= Model.Page - 2 && i <= Model.Page + 2))
                            {
                                <li class="page_link">
                                    <a href="javascript:;" onclick="doSearch(@i)" aria-controls="example2" data-dt-idx="">@i</a>
                                </li>
                            }
                            else if (i == Model.Page - 4 || i == Model.Page + 4)
                            {
                                <li class="paginate_button">
                                    <a href="#" aria-controls="example2" data-dt-idx="" tabindex="0">...</a>
                                </li>
                            }
                        }
                        @if (Model.Page < Model.PageCount)
                        {
                            <li class="paginate_button next" id="example2_next">
                                <a href="javascript:;" onclick="doSearch(@nextPage)" aria-controls="example2" data-dt-idx="" tabindex="0">Trang tiếp theo</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <!--Phân trang-->
        }

    </div>
</div>
<!--Danh sách loại hàng-->